# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# docs
PROJECT_DESIGN.md
DjangoFlowchart.md
DATABASE_DESIGN.md
CLAUDE_DESIGN.md

plan_fee.csv
students.csv
transactions.csv

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myvenv/
venv/
env/
ENV/

# Django
db.sqlite3
*.log
local_settings.py